<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
     <style type="text/css">
/* The Modal (background) */
.preview-jsdoc-background-loading {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.preview-jsdoc-loading-box {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  </style>
<script src="/socket.io/socket.io.js"></script>
<script>
      var socket = io();

      socket.onWillJsDocComputed = function() {
          var loading = document.getElementById('preview-jsdoc-loading');
          loading.style.display = "block";
      };
      socket.onDidJsDocComputed = function() {
          window.location.reload();
      };
      socket.on('reload-jsdoc', function (msg) {
        if (socket[msg]) {
            socket[msg]();
        }
       
      });
      socket.on('disconnect', function() {
        window.close();
      })
    </script>
</head>

<body>

<div id="main">

    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>
</div>

<nav>
    <?js= this.nav ?>
</nav>

<br class="clear">


<!-- The background loading -->
<div id="preview-jsdoc-loading" class="preview-jsdoc-background-loading">

  <!-- Loading message-->
  <div class="preview-jsdoc-loading-box">
    <p>Please wait for jsdoc completion ...</p>
  </div>

</div>
<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>

